@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #040F15;
}

body::before {
    content: "";
    position: absolute;
    background-image: url("images/ny-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.3);
    width: 100%;
    height: 100%;
    position: absolute;
    animation: backgroundAnim 5s infinite ease-in-out;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    background-image: url("images/ny-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.7);
    width: 100%;
    height: 100%;
    position: absolute;
    animation: backgroundAnima 5s infinite ease-in-out;
}

@keyframes backgroundAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .3;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: .9;
    }
}

@keyframes backgroundAnima {
    0% {
        opacity: .1;
        /* transform: scale(1); */
    }
    50% {
        opacity: .3;
        /* transform: scale(1.1); */
    }
    75% {
        opacity: .6;
        /* transform: scale(1.2); */
    }
    100% {
        opacity: .9;
        /* transform: scale(1.3); */
    }
}

.container {
    width: 500px;
    height: 300px;
    background-color: rgb(219, 219, 224);
    margin: auto;
    position: relative;
    transform: translate(0, 50%);
    box-shadow: 4px 4px 6px rgb(71, 71, 71);
    z-index: 9;
    opacity: 1;
}

.clock-container {
    background-color: rgba(105, 10, 168, 0.774);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    top: 50%;
    left: 50%;
    box-shadow: 4px 4px 6px gray;
}

.clock-container .times {
    position: absolute;
    bottom: 105%;
    text-transform: uppercase;
    text-align: right;
    display: block;
    font-size: 10px;
}

.clock-container p {
    font-size: 60px;
    font-weight: 100;
    font-family: fantasy;
    color: white;
}

.bottom {
    background-color: rgba(116, 114, 117, 0.774);
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(105, 10, 168, 0.774);
    height: 6px;
}

#hour::after {
    content: ":";
    position: absolute;
    top: 30%;
    left: 28%;
    font-size: 40px;
    color: rgb(173, 171, 171);
    font-family: fantasy;
    font-weight: 100;
}

#minute::after {
    content: ":";
    position: absolute;
    top: 30%;
    right: 28%;
    font-size: 40px;
    color: rgb(173, 171, 171);
    font-family: fantasy;
    font-weight: 100;
}